<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}">Id</td>
            <td th:utext="${user.getFirstName()}">First name</td>
            <td th:utext="${user.getLastName()}">Last name</td>
            <td th:utext="${user.getAge()}">age</td>
            <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Set</a></td>
            <td><form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                <input type="submit" value="delete"/>
            </form></td>
        </tr>
    </table>
    <br/>
    <hr/>
    <a th:href="@{/users/new}">New user</a>
</div>
</body>
</html>